---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Code from "../../components/Code.astro";
import TableOfContents from "../../components/TableOfContents.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("articles");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
console.log(headings);
---

<Layout title={entry.data.title} frontmatter={entry.data}>
  <div class="grid grid-cols-12">
    <div
      transition:name={entry.data.title}
      class="px-2 col-span-8 prose-xl md:px-10"
    >
      <Content />
    </div>
    <div class="text-primary col-span-4">
      <TableOfContents headings={headings} />
    </div>
  </div>
</Layout>
