---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Code from "../../components/Code.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection("articles");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title} frontmatter={entry.data}>
  <div class="px-2 md:px-10">
    <Content components={{ pre: Code }} />
  </div>
</Layout>
