---
const { sup, sub, number, frequency } = Astro.props;
---

<div class="font-display text-left w-1/2 holographic-text">
  <p class="text-xs">{sup}</p>
  <div class="flex items-baseline">
    <span class="text-4xl inline">{number}</span>
    <span class="text-xs inline">/{frequency}</span>
  </div>
  <p class="text-xs">{sub}</p>
</div>
