<div class="absolute -right-5 flex justify-center items-center -bottom-6">
  <div
    class="mask absolute flex items-center justify-center size-11 mask-hexagon holographic"
  >
  </div>
  <div
    class="mask flex text-[0.5rem] leading-3 text-center items-center justify-center size-10 mask-hexagon bg-base-300"
  >
    Holy Sh*t
  </div>
</div>
