---
import tip_components from "./components";
import Empty from "../../Empty.astro";
const { markdown, class: className, href, components, cta } = Astro.props;
const { Content } = await markdown.render();
---

<div
  transition:name={markdown.data.name}
  data-theme="skeletor"
  class="shadow-xl relative prose prose-sm rounded p-1 w-full max-w-md bg-neutral aspect-[63/88]"
>
  <div
    class="p-6 h-full flex overflow-clip flex-col bg-gradient-to-br from-base-200 from-30% to-95% via-base-100 to-base-300 bg-300% animate-gradient"
  >
    <p class="text-center font-display text-xs text-accent">Tip Card!</p>
    <span class={className}><slot /></span>
    <Content
      components={{
        ...components,
        ...tip_components,
        More: Empty,
      }}
    />
  </div>
</div>
