---
import Layout from '../layouts/Layout.astro';
import {getCollection} from "astro:content";
const allPosts = await getCollection("articles");
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<ul>
			{
				allPosts.map((post) => (<li>{post.data.title}</li>))
			}
		</ul>
	</main>
</Layout>

