---
import matter from "gray-matter";
import Layout from '../layouts/Layout.astro';
import {getCollection} from "astro:content";
import FancyParagraph from "../components/FancyParagraph.astro";
const allPosts = await getCollection("articles");
const firstXCharacters= (chars) => (file)  => {
	return file.excerpt = file.content.slice(0, 200);
}

const first200Chars = firstXCharacters(200)

const file = matter(allPosts[0].body, { excerpt: first200Chars })
---

<Layout title="Welcome to Astro.">
	<main>
		<h1 class="text-7xl">Welcome to <span class="text-gradient">Spellbook</span></h1>
		<p>A little spellcasting never hurt nobody</p>
		<ul>
			{
				allPosts.map((post) => (
					<li>
						<FancyParagraph>
							<a href={"/articles/" + post.slug}>{post.data.title} {file.excerpt}</a>
						</FancyParagraph>
					</li>
				))
			}
		</ul>
	</main>
</Layout>

