---
import FancyParagraph from "./FancyParagraph.astro";
const { title } = Astro.props;
---
<div>
    <h4 class="mb-6 font-display text-3xl text-blue-700">{title}</h4>
    <FancyParagraph>
        <slot/>
    </FancyParagraph>
</div>