---
const { markdown, class: className, href, components, cta } = Astro.props;
const { Content } = await markdown.render();
---

<div
  data-theme="skeletor"
  class="card shadow-xl not-prose transform-gpu transition-transform duration-200 rounded hover:z-40 p-1 w-96 bg-neutral aspect-[63/88] relative lg:-right-10"
>
  <Content components={components} />
</div>
