---
const { class: className } = Astro.props;
---

<div
  class:list={[
    "first-letter:font-lithops mb-2 leading-6 first-letter:float-left first-letter:-mb-4 first-letter:-mt-6 first-letter:mr-1 first-letter:text-9xl first-letter:font-normal first-line:font-bold first-line:uppercase first-line:tracking-widest",
    className,
  ]}
>
  <slot />
</div>
