---
const { markdown, class: className, href, components, title } = Astro.props;
markdown.body = markdown.body.split("").slice(0, 10).join("");

const { Content } = await markdown.render();
---

<a transition:name={title} class={className} href={href}>
  <div>
    <Content components={components} />
  </div>
</a>
