---
import ArticleSnippet from "./ArticleSnippet.astro";
const { title, class: className, paragraphClass, href, target } = Astro.props;
---

<a
  class:list={[className, "hover:scale-105 transition-all ease-in-out"]}
  href={href ?? "#"}
  target={target}
>
  <ArticleSnippet
    transitionName={href}
    title={title}
    paragraphClass="first-line:text-primary"
  >
    <slot />
  </ArticleSnippet>
</a>
