---
import Empty from "../../Empty.astro";
import normal_components from "./components";
const { markdown, class: className, href, components, cta } = Astro.props;
const { Content } = await markdown.render();
---

<div
  style={`view-transition-name: ${markdown.data.title}-card`}
  data-theme="skeletor"
  class="shadow-xl relative not-prose rounded p-1 w-full max-w-md bg-neutral aspect-[63/88]"
>
  <div
    class="p-6 h-full flex flex-col justify-start bg-gradient-to-br from-base-200 from-30% to-95% via-base-100 to-base-300 bg-300% animate-gradient"
  >
    <Content
      components={{
        ...normal_components,
        ...components,
        More: Empty,
      }}
    />
  </div>
</div>
