<div class="absolute -right-5 flex justify-center items-center -bottom-6">
  <div
    class="mask absolute flex items-center justify-center size-11 mask-hexagon bg-base-content"
  >
  </div>
  <div
    class="mask flex text-xs items-center justify-center size-10 mask-hexagon bg-base-300"
  >
    <slot />
  </div>
</div>
