---
import Layout from "./Layout.astro";
interface Props {
  title: string;
  frontmatter: any;
}

const { title, frontmatter } = Astro.props;
---

<div class="max-w-prose prose prose-xl">
  <slot />
</div>
