---
import Layout from "./Layout.astro";
interface Props {
  title: string;
}

const { title, frontmatter } = Astro.props;
---

<Layout title={title} frontmatter={frontmatter}>
  <div class="max-w-prose prose-xl px-10">
    <slot />
  </div>
</Layout>
