---
interface Props {
  title: string;
  frontmatter: any;
}

const { title, frontmatter } = Astro.props;
console.log({ frontmatter });
---

<div transition:name={frontmatter.title} class="">
  <slot />
</div>
