---
import { ViewTransitions } from "astro:transitions";
import VtBotDebug from "astro-vtbot/components/VtBotDebug.astro";
import Linter from "astro-vtbot/components/Linter.astro";
import Navigation from "../components/Navigation.astro";
interface Props {
  title: string;
  frontmatter: any;
  issueSlug?: string;
}

const { title, frontmatter, issueSlug } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <VtBotDebug />
    <Linter expanded />
    <ViewTransitions />
  </head>
  <body class="font-serif pb-16 max-w-screen-2xl mx-auto">
    <Navigation issue_slug={issueSlug} issue={frontmatter?.issue_number} />
    <div transition:animate="fade">
      <slot />
    </div>
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @font-face {
        font-family: "Young Serif";
        src: url("/fonts/YoungSerif-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Lithops";
        src: url("/fonts/Lithops-Regular.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Basteleur Bold";
        src: url("/fonts/Basteleur-Bold.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Basteleur Moonlight";
        src: url("/fonts/Basteleur-Moonlight.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @layer utilities {
        .holographic {
          @apply transform-gpu bg-gradient-to-r from-secondary via-white bg-300% to-accent from-50% to-75% animate-gradient;
        }
        .holographic-text {
          @apply holographic text-transparent bg-clip-text;
        }
      }
    </style>
  </body>
</html>
